aside {
  width: 100%;
  max-width: 460px;
  /* text-align: center; */
  margin: 0 auto;
}

aside h3 {
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  color: #212529;
}
aside ul {
  padding: 0;
}

.vazio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: #868e96;
  font-size: 22px;
  font-weight: 700;
  font-family: "Nunito", sans-serif;
  line-height: 34px;
}

.vazio img {
  width: 100%;
  /* text-align: left; */
}

@media screen and (min-width: 900px) {
  aside {
    margin-left: 4%;
    width: 70%;
    max-width: none;
  }

  .aside-flex {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
}
